<div class="text-center">
    <h1 class="display-4">Raffles!</h1>
    <p>Add description of the charity raffle profits go to.</p>
    <br>
    <br>
    <h3>Display items being raffled off</h3>
    <br>
    <br>
    <h3>Stripe API to buy raffle ticket(s)?</h3>
    <p>Taylor can do this Stripe API (Joe doing Stripe API for paying registration fee)</p>
    <br>
    <br>
    <h3>Do the random passcode generator to give out random raffle numbers?</h3>
</div>