<div class="text-center">
    <h1 class="display-4 mt-5">Raffles!</h1>
    <br>
    <h4>Add description of the charity raffle profits go to</h4>
    <br>
    <h4>Display items being raffled off</h4>
    <br>
    <h4>Stripe API to buy raffle ticket(s)</h4>
    <br>
    <h4>Do the random passcode generator to give out random raffle numbers</h4>
</div>