
* {
  font-family: 'Titillium Web', sans-serif;
}

.container_main {
   background-image: url("https://amygarey.files.wordpress.com/2020/08/stang_home-01-01.jpeg");
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.table {
  text-align: center;
}

.nav-item-main {
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  font-variant: small-caps;
}

.form-inline {
  padding: 5px;
}

button {
  margin: 13px 12px 12px 10px;
}

h3 {
  padding: 30px;
  font-weight: bold;
}

.thead-dark {
  font-weight: bold;
  font-size: larger;
  font-variant: small-caps;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color:  #952618;
  border-color: #952618;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color:  #952618;
  border-color: #952618;
}

#schedule{
  background-color: #F8F9FA;
  border-top: 0rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* .d-flex {

} */

.jumbotron {
  background-image: url("https://amygarey.files.wordpress.com/2020/08/stang_home-01-01.jpeg");
  background-size: cover;
  color: #F8F9FA;
  border-bottom: 0;
  margin-bottom: 0;
}

.container-fluid {
  margin-top: 10px;
  margin-bottom: 10px;;
}

#video {
  background-color: #F8F9FA;
  padding: 40px;
  padding-top: 0px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: #F8F9FA;
}

.video {
  width: 40%;
}

i {
  width: 50px;
  height: 50px;
}
