
* {
  font-family: 'Titillium Web', sans-serif;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #952618;
}

button{
  margin: 13px 12px 12px 10px;
}

.btn-primary {
  color: #fff;
  background-color:  #952618;
  border-color: #952618;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color:  #952618;
  border-color: #952618;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.d-flex {
  background-image: url("https://amygarey.files.wordpress.com/2020/08/stang_home-01-01.jpeg");
}

.jumbotron {
  background-image: url("https://amygarey.files.wordpress.com/2020/08/stang_home-01-01.jpeg");
  background-size: cover;
  color: #F8F9FA;
  /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(88, 85, 85); */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

i {
  width: 50px;
  height: 50px;
}
