@model Car

<form asp-controller="UserProfile" asp-action="SubmitCar" method="post">
    <span asp-validation-for="Year"></span><br>
    <label asp-for="Year"></label>
    <input asp-for="Year"><br>
    <span asp-validation-for="Make"></span><br>
    <label asp-for="Make"></label>
    <input asp-for="Make"><br>
    <span asp-validation-for="Model"></span><br>
    <label asp-for="Model"></label>
    <input asp-for="Model"><br>
    <span asp-validation-for="Category"></span><br>
    <label asp-for="Category"></label>
    <select asp-for="Category">
        <option value="Best of Show Early Model">Best of Show Early Model</option>
        <option value="Best of Show Late Model">Best of Show Late Model</option>
        <option value="Ford Trucks">Ford Trucks</option>
        <option value="10 - 14 Shelby">10 - 14 Shelby</option>
        <option value="Club Participation">Club Participation</option>
    </select><br>
    <span asp-validation-for="Description"></span><br>
    <label asp-for="Description"></label><br>
    <textarea asp-for="Description" cols="30" rows="10"></textarea><br>
    <button>Submit</button>
</form>