<div class="container">
    <h1>@Context.Session.GetString("userName")'s Profile Page</h1>
    <a asp-controller="LoginReg" asp-action="Logout">Logout</a>
    <br>
    <h4>Placeholder: Display and make editable all User info that is stored</h4>
    <h4>Placeholder: Profile picture</h4>

    <h3>Your registered cars:</h3>
    <br>

    <partial name ="_RegisterCar"/>

    <br>
    <h4>(Add upload pix feature to car registration form.)</h4>
    <h4>(Display car pix here.)</h4>
</div>