<div class="container">
    <h1>@Context.Session.GetString("userName")'s Profile Page</h1>
    <a asp-controller="LoginReg" asp-action="Logout">Logout</a>
    <p>Placeholder: display and make editable all User info that is stored</p>
    <p>Placeholder: profile picture</p>

    <h3>Your registered cars:</h3>
    <p>placeholder: display table</p>

    <partial name ="_RegisterCar"/>
</div>