<div class="container">
    <h1>NAME'S Profile Page</h1>
    <a asp-controller="LoginReg" asp-action="Logout">Logout</a>
    <p>display and maked editable all Model info stored</p>
    <p>profile picture</p>

    <h3>Your registered cars:</h3>
    <p>display table</p>

    <h3>Register a car for a car show</h3>
    <partial name ="_RegisterCar"/>

</div>