@model LoginUser

<h3 class="text-center">Login</h3>

<form asp-controller="LoginReg" asp-action="Login" method="POST">
    <div class="form-group">
        <label asp-for="LoginEmail"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="LoginEmail"></span>
        <input class="form-control" asp-for="LoginEmail">
    </div>

    <div class="form-group">
        <label asp-for="LoginPassword"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="LoginPassword"></span>
        <input class="form-control" asp-for="LoginPassword" value="123456789">
    </div>

    <button class="btn btn-info">Login</button>
</form>