@model User

<h3 class="text-center">Register</h3>

<form asp-controller="LoginReg" asp-action="Register" method="POST">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="FirstName"></span>
        <input class="form-control" asp-for="FirstName">
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="LastName"></span>
        <input class="form-control" asp-for="LastName">
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="City"></span>
        <input class="form-control" asp-for="City">
    </div>

    <div class="form-group">
        <label asp-for="State"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="State"></span>
        <input class="form-control" asp-for="State">
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Email"></span>
        <input class="form-control" asp-for="Email">
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Password"></span>
        <input class="form-control" asp-for="Password">
    </div>

    <div class="form-group">
        <label asp-for="Confirm"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Confirm"></span>
        <input class="form-control" asp-for="Confirm">
    </div>

    <button class="btn btn-info">Register</button>
</form>