@model User

<div id="wrapper">
    <div>
        <h2>Register</h2>

        <form asp-controller="LoginReg" asp-action="Register" method="post">
            <span asp-validation-for="Name"></span><br>
            <label asp-for="Name"></label>
            <input asp-for="Name"><br>
            <span asp-validation-for="City"></span><br>
            <label asp-for="City"></label>
            <input asp-for="City"><br>
            <span asp-validation-for="State"></span><br>
            <label asp-for="State"></label>
            <input asp-for="State"><br>
            <span asp-validation-for="Email"></span><br>
            <label asp-for="Email"></label>
            <input asp-for="Email"><br>
            <span asp-validation-for="Password"></span><br>
            <label asp-for="Password"></label>
            <input asp-for="Password"><br>
            <span asp-validation-for="Confirm"></span><br>
            <label asp-for="Confirm"></label>
            <input asp-for="Confirm"><br><br>
            <button>Sign up Now</button>
        </form>
    </div>
    <div>
        <partial name="_LoginForm"/>
    </div>
</div>